
*.vsidx
*.lock
.vs/UnrealMapDrawTool/v17/.suo
.vs/UnrealMapDrawTool/v17/Preview/Browse.VC.db
.vs/UnrealMapDrawTool/v17/Preview/ipch/AutoPCH/5e7bf91ab376d897/MAIN.ipch
.vs/UnrealMapDrawTool/v17/Preview/ipch/AutoPCH/a1591d5b82065271/MAIN.ipch
.vs/UnrealMapDrawTool/v17/Preview/ipch/AutoPCH/d6ceff629e7f4511/IMGUI_IMPL_GLFW.ipch
x64/Debug/UnrealMa.dce3ed16.tlog/CL.command.1.tlog
x64/Debug/UnrealMa.dce3ed16.tlog/CL.read.1.tlog
x64/Debug/UnrealMa.dce3ed16.tlog/CL.write.1.tlog
x64/Debug/UnrealMa.dce3ed16.tlog/link.command.1.tlog
x64/Debug/UnrealMa.dce3ed16.tlog/link.read.1.tlog
x64/Debug/UnrealMa.dce3ed16.tlog/link.write.1.tlog
x64/Debug/UnrealMa.dce3ed16.tlog/UnrealMapDrawTool.lastbuildstate
x64/Debug/UnrealMapDrawTool.Build.CppClean.log
x64/Debug/UnrealMapDrawTool.exe.recipe
x64/Debug/UnrealMapDrawTool.ilk
x64/Debug/UnrealMapDrawTool.log
x64/Debug/UnrealMapDrawTool.pdb
x64/Debug/UnrealMapDrawTool.vcxproj.FileListAbsolute.txt
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
x64/Release/UnrealMapDrawTool.exe.recipe
*.pdb
*.ipdb
*.iobj
*.log
*.tlog
*.obj
*.txt
*.ini
*.bin
*.db-shm
*.db-wal
*.opendb
UMDT.map
x64/Release/UMDT.map
*.ipch
